<section>
  <div class="page-header">
    <h1 ng-bind="self.game.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="self.game.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="games.edit({ gameId: self.game._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="self.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="self.game.created | date:'mediumDate'"></span>
      by
      <span ng-if="self.game.user"
            ng-bind="self.game.user.displayName"></span>
      <span ng-if="!self.game.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="self.game.content"></p>
</section>
